/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

a {
	text-decoration: none;
	display: flex;
	color: black;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	margin-top: 0px;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	/*display: flex;*/
	justify-content: space-between;
	/*margin: 50px 0*/
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
}

.logged-in {
	display: none;
	justify-content: center;
	align-items: center;
	margin-bottom: 38px;
	width: 100%;
	height: 59px;
	background-color: black;
	color: white;
	position: fixed;
}

.logged-in button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 216px;
	height: 38px;
	margin-left: 21px;

	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;

	background-color: white;
	color: black;
	border: none;
}

.fa-regular.fa-pen-to-square {
	margin-right: 9px;
}

.logo_nav {
	display: flex;
	justify-content: space-between;
	width: 1140px;
	margin: auto;
	margin-top: 70px;
}

section {
	margin: 150px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
	margin-top: 200px;
}
#introduction figure {
	flex: 1;
}
#introduction img {
	display: block;
	margin: auto;
	margin-left: 0px;
	width: 80%;
}

#introduction article {
	flex: 1;
	max-width: 404px;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.button-image {
	position: absolute;
	top: 750px;
	left: 360px;
}

.button-image button {
	display: none;
	margin-left: 15px;
	border: none;
	color: black;
	padding: 0px;
}

.button-image p {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}

/****** PORTFOLIO ******/

.header_projects {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}

.header_projects p {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}

.header_projects .fa-regular.fa-pen-to-square {
	/*margin-left: 31px;*/
	color: black;
	font-size: 18px;
}

/*.header_projects button{
	display: none;
	border: none;
	color: black;
	margin-left: 31px;
	padding: 0px;
	height: 18px;
	width: 84px;
	cursor: pointer;
}*/

#portfolio h2 {
	text-align: center;
	/*margin-bottom: 50px;*/
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.button-container {
	display: flex;
	margin: auto;
	margin-bottom: 50px;
	width: 585px;
	justify-content: space-around;
	/*border: 2px solid red;*/
}

button {
	display: flex;
	background-color: transparent;
	color: #1D6154;
	border: 1px solid #1D6154;
	font-size: 16px;
	border-radius: 20px;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 15px;
	padding-right: 15px;

	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
}

.button-container button:hover {
	background-color: #1D6154;
	color: white;
}

.lien_connexion {
	/*border: 2px solid red;*/
	text-decoration: none;
}

.lien_connexion li{
	color: black;
}

/****** PAGE CONNEXION ******/

.header-connexion {
	display: flex;
	margin-top: 50px;
	margin-left: 150px;
	margin-right: 150px;
}

.main-connexion {
	display: flex;
	justify-content: center;
	margin-top: 150px;
}

.formulaire-connexion h1 {
	display: flex;
	align-items: center;
	margin-bottom: 37px;

	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	color: #1D6154;
}

.login-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

.form-control {
	border: none;
	width: 379px;
	height: 51px;
	background-color: white;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

label {
	margin-bottom: 7px;

	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #3D3D3D;
}

.btn {
	display: flex;
	justify-content: center;
	width: 50%;
}

.btn-seconnecter {
	display: flex;
	justify-content: center;
}

.forgot-password a {
	display: flex;
	justify-content: center;
	margin-top: 28px;
	
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-decoration-line: underline;
	color: #3D3D3D;
}

/****** MODAL ******/

* {box-sizing: border-box;}

.js-modal {
	margin-left: 30px;
}

.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}

.modal-wrapper {
	width: 630px;
	background-color: #fff;
	border-radius: 10px;
}

.js-modal-close {
	align-items: center;
	border: none;
	margin: 0px;
	padding: 0px;
	height: 24px;
	width: 24px;
	cursor: pointer;
}

.fa-solid.fa-x {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 24px;
	width: 24px;
	color: black;
}

.modal-button-close {
	display: flex;
	justify-content: flex-end;
	margin-top: 26px;
	margin-right: 30px;
}

.modal-wrapper h2 {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	text-align: center;

	color: #000000;
}

.gallery-modal {
	border-bottom: 1px solid #B3B3B3;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 420px;
	margin: auto;
	margin-top: 46px;
	margin-bottom: 38px;
	padding-bottom: 67.3px;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	column-gap: 6px;
	row-gap: 25px;
}

.gallery-modal img {
	width: 100%;
	object-fit:cover;
}

.gallery-modal button {
	display: flex;
	justify-content: center;
	border: 1px solid black;
	background-color: #000000;
	border-radius: 3px;
	height: 17px;
	width: 17px;
	padding: 0px;
	margin: auto;

	position: relative;
	right: -25px;
	top: -103px;

	cursor: pointer;
}

.fas.fa-trash-alt {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	height: 9px;
	width: 9px;
	font-size: 9px;
	margin: auto;
}

.img-modal {
	height: 105px;
}

.button-add-photo {
	display: flex;
	justify-content: center;
	margin: auto;
	margin-bottom: 23px;
	background-color: #1D6154;
	color: white;
	width: 237px;
	height: 36px;
	padding-left: 49px;
	padding-right: 49px;

	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
}

.modal-wrapper a {
	display: flex;
	justify-content: center;
	color: red;
	cursor: pointer;
	width: 230px;
	margin: auto;
	padding-bottom: 20px;
	/*border: 2px solid red;*/
}

/****** MODAL 2 ******/

.modal-button-previous {
	display: flex;
	justify-content: flex-start;
}

.gallery-modal2 {
	display: flex;
}

.js-modal-previous {
	border: none;
	color: black;
	position: relative;
	top: -30px;
	left: 10px;
}

.gallery-modal2 {
	display: flex;
	justify-content: center;
	width: 420px;
	margin: auto;
}

.gallery-modal2 form {
	display: flex;
	flex-direction: column;
	align-items: left;
	width: 100%;
}

.custom-img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 170px;
	background-color: #E8F1F7;
}

.fa-sharp {
	color: #b9c5cc;
	font-size: 50px;
}

.file-upload-button {
	display: flex;
	justify-content: center;
}

input[type="file"] {
	display: none;
  }

#title, #category {
	border: none;
	height: 51px;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}